@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #dadce0;
    padding: 8px;
    color: #5f6368;
}

.logo-area{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 1.2rem;
}

.material-symbols-outlined{
    padding: 10px;
}
.searchbar-area{
    display: flex;
    background: #f1f3f4;
    width:692px;
    height: 48px;
    border-radius: 8px;
    align-items: center;
}
.searchbar-area input{
    border: none;
    font-size:1rem;
    background: #f1f3f4;
    height: 100%;
    width: 95%;
    border-radius: 8px;
    margin-left: 10px;

}
.searchbar-area span{
    margin-left:10px;
}

input:focus{
    outline:none;
}

.hover:hover{
    background:#f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

 .tooltip{
    position:relative;
}

/* need to fix hovering effect on menu icons */

.tooltip-text{
    position: absolute;
    left: 0;
    top: 5.6%;
    background-color:#323232;
    padding:5px;
    opacity: 0.8;
    color: white;
    font-size: 0.78rem;
    white-space:nowrap;
    border-radius:5px;
    visibility: hidden;
    z-index: 1;
    
}

.tooltip:hover .tooltip-text{
    visibility: visible;
} 

.profile-actions-area, .settings-area{
    display: flex;
    
}

/* styling main section */

/* sidebar */

.sidebar{
    position: fixed;
    left: 0;
    top: 64px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
    color: #5f6368;
    width: 80px;
    overflow-x: hidden;
}

.active{
    background-color: #fef0c3;
    border-radius: 50%;
    color:black;
    /* color: #5f6368; */

}

.active:hover{
    background-color: #fef0c3;
}

.sidebar .sidebar-item{
    margin-left: 18px;
    padding: 3px 0px;
    display: flex;
    align-items: center;
    
}

.sidebar-item .sidebar-text{
    color: black;
    margin-left: 20px;
    font-size: 0.9rem;
    width: 250px;
}

.sidebar-item:nth-child(1){
    margin-top: 5px;
}

/* Main form */
.form-container{
    background: #fff;
    max-width: 598px;
    /* height: 46px; */
    margin: 32px auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
}

.form-container form{
    display: flex;
    justify-content: space-between;
    height: 100%;
    color: #5f6368;
    align-items: center;
}

.note-text{
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
}

.note-title{
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
}

.form-actions{
    display: flex;
}

.active-form{
    width: 100%;
}

.active-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.active-form form .form-actions {
    display: flex;
    width: 100%;
}

.active-form .form-actions .icons{
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.close-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.small-icon{
    size: 0.7rem;
}

/* notes section */

.notes{
    display: flex;
    margin-left: 150px;
}

.note{
    position: relative;
    background:white;
    width: 350px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 10px;
}

.note .title{
    width: 100%;
    margin: 15px 0 0 15px;
}

.note .text{
    width: 100%;
    margin: 10px 0 0 15px;
}
.note .note-footer{
    display: flex;
    margin-top: 10px;
    padding: 0;
    justify-content: center;
}
.note .note-footer .material-symbols-outlined{
    color: #5f6368;
}

.note .check-circle{
    position: absolute;
    left: -12px;
    top: -10px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.modal-content{
    width: 589px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open-modal{
    visibility: visible;
}